@import url(imports.less);

body {
	background: @white;
}
.bg {
	padding: 30px;
}
.header {
	.make-row();
	.bg;
	background: @black;
	.contact {
		a {
			.btn;
			background: @red;
			color: @white;
		}
	}

	div {
		.make-lg-column(4);
		color: @white;
	}
}


.masthead {
	.bg;
	background: @grey;
}